<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreedomTPV</title>

    <!-- Bootstrap CSS e Iconos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a4fd43b371.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/stylesheets/index.css">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>FreedomTPV</h1>

                <p>FreedomTPV es una aplicación web que consiste en la Administración de
                    productos,categorías,
                    usuarios y pedidos. El enfoque de la aplicación es un enfoque genérico lo cual te permite adaptarlo
                    a cualquier
                    tipo de negocio. Puede ser un taller de coches o un restaurante.</p>
                <p>
                    Las tecnologías que se han utilizado para la aplicación son:

                <ul>
                    <li>Backend: Laravel</li>
                    <li>Frontend: VueJS, Librerias Jquery, Bootstrap</li>
                    <li>Herramientas para el desarrollo: Postman, VSCode</li>
                </ul>
                </p>
                <p>
                    FreedomTPV es una aplicación completamente gratuita. Esto es un despliegue para comprobar el
                    funcionamiento de la aplicación,
                    Puedes descargar tanto la parte visual, como si quieres hacer la tuya utilizando únicamente la API.
                </p>
                <p> Aconsejo si vas a utilizar este programa a nivel profesional, cambiar este texto adaptado para la
                    empresa</p>


                <p>Desarrollado por: Alejandro Sánchez Quesada</p>

                <a href="https://github.com/AlejandroSanchezQuesada/tpv"><i class="fab fa-github">API</i></a>
                <a href=""><i class="fab fa-github">Visual</i></a>

                </p>
            </div>



            <div class="col-6" id="app">
                <br>
                <div class="col-12 login_registro" v-if="login_registro">
                    <h2>Login <i class="fas fa-sign-in-alt"></i></h2>
                    <p>Por favor pon email y contraseña para iniciar sesión!</p>

                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-at"></i></span>
                        </div>
                        <input type="email" class="form-control" v-model="email">
                    </div>

                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" v-model="password">
                    </div>
                    <br>
                    <button class="btn btn-success" @click="logear()">Entrar</button>
                    <button class="btn btn-success" @click="crearCuenta()">Crear Cuenta</button>

                </div>
                <div class="col-12 login_registro" v-else>
                    <h2>Registro <i class="fas fa-user-plus"></i></h2>
                    <p>Por favor rellene los campos de registro</p>

                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="far fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" v-model="name" placeholder="Pepe Perez">
                    </div>

                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-at"></i></span>
                        </div>
                        <input type="email" class="form-control" v-model="email" placeholder="pepe@tpv.com">
                    </div>

                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" v-model="password" placeholder="micontraseña123">
                    </div>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" v-model="password_confirmation"
                            placeholder="micontraseña123">
                    </div>

                    <div class="custom-control custom-radio">
                        <input type="radio" id="empleado" name="empleado" value=false class="custom-control-input"
                            v-model="jefe">
                        <label class="custom-control-label" for="empleado">Empleado</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="jefe" name="jefe" value=true class="custom-control-input"
                            v-model="jefe">
                        <label class="custom-control-label" for="jefe">Jefe</label>
                    </div>

                    <br>
                    <button class="btn btn-success" @click="registrarse()">Registrar</button>
                    <button class="btn btn-success" @click="volverLogin()">Iniciar sesión con cuenta existente</button>
                </div>
            </div>

        </div>
        <!-- Vue y Axios -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="scripts/index/index.js"></script>

</body>

</html>