<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreedomTPV</title>
    <link rel="icon" type="image/png" href="../styles/images/logo/favicon.png"/>

    <!-- Bootstrap CSS e Iconos -->
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>

    <script src="https://kit.fontawesome.com/a4fd43b371.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/stylesheets/main.css">
</head>

<body>
    <div class="container-fluid" id="app">
        <div class="row">

            <div class="col-9 columnaIzquierda">
                <div class="row">
                    <div v-if="categorias.length == 0" class="loader"></div>
                    <div v-else class="col-12">
                        <div class="row">
                        <button class="btn btn-success botonCategorias col" v-on:click="obtenerProductos()">General</button>
                        <button v-for="categoria in categorias" :key="categoria.id" type="button"
                            class="btn btn-success botonCategorias col"
                            v-on:click="obtenerProductosPorCategoria(categoria.id)">{{ categoria.nombre }}</button>
                        </div>
                    </div>
                    <div v-if="productos.length == 0" class="loader"></div>
                    <div v-else class="col-12">
                        <button v-for="producto in productos" :key="producto.id" type="button"
                            class="btn btn-success botonproductos" v-on:click="anyadirProducto(producto)"><img
                                :src=producto.foto :alt=producto.nombre class="imgProducto">
                                <p>{{producto.nombre}} {{producto.precio}}</p>
                                
                                
                        </button>
                    </div>
                    <div v-if="puestos.length == 0" class="loader"></div>
                    <div v-else class="col-12">
                        <div class="row">
                        <button v-for="puesto in puestos" :key="puesto.id" type="button" class="btn btn-success botonPuestos col"
                            v-on:click="escogerPuesto(puesto)">{{puesto.nombre}}
                        </button>
                    </div>
                    </div>
                </div>

            </div>
            <div class="col-3 columnaDerecha">
                <div class="row">
                    <div class="col-12 cajaUsuario">
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-12"><button class="btn btn-success botonPanelControl"
                                            v-on:click="goToPanelControl()">Panel de Control</button></div>
                                </div>
                            </div>
                            <div v-if="usuarios.length == 0" class="loader"></div>
                            <div v-else class="col-4">
                               <!--  <img :src=usuarios.avatar :alt=usuarios.nombre> -->
                               <div class="dropdown">
                                <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"><img :src="usuarios.avatar"
                                    :alt=usuarios.nombre class="img_avatar"></div>
                                    <span class="nombreUsuario">{{usuarios.name}}</span>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" v-on:click="cerrarSesion">Cerrar Sesión <i class="fas fa-power-off"></i></a>
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 cajaCobrar">
                        <h4>Pedido - {{puestoElegido.nombre}}</h4>

                        <div class="table-wrapper-scroll-y my-custom-scrollbar">

                            <table class="table table-bordered table-striped">
                                <div v-for="productosElegido,index in productosElegidos" :key="productosElegido.id">
                                    <button class="btn botonProductoPedido col-11"
                                        v-on:click="borrarProductoPedido(index)">{{ productosElegido.nombre }} <span
                                            :key="productosElegido.cantidad"
                                            class="badge badge-pill badge-primary">{{ productosElegido.cantidad }}</span>
                                        <span>{{productosElegido.precio * productosElegido.cantidad}} €</span>
                                    </button>

                                </div>
                            </table>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="displayPrecio">Total : {{precioTotal}} €</h4>
                                </div>
                                <div class="col-6"><button class="btn btn-cobrar" data-toggle="modal" data-target="#modalCobrar"
                                        v-on:click="creandoPedido()">Cobrar</button></div>
                                <div class="col-6"> <button class="btn btn-cancelar" data-toggle="modal"
                                        data-target="#modalCancelar">Cancelar</button></div>
                                    
                                        
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Cobrar -->

        <div class="modal" id="modalCobrar" tabindex="-1" role="dialog" aria-labelledby="modalCobrarLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCobrarLabel">Realizar Pedido</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="dinero">
                            <div class="dineromonedas"> <button v-on:click="sumaCliente(0.01)"><img
                                        src="../../styles/images/tpv/dinero/monedas/1cent.png" alt="1cent"
                                        class="monedas"></button>
                                <button v-on:click="sumaCliente(0.02)"><img
                                        src="../../styles/images/tpv/dinero/monedas/2cent.png" alt="2cent"
                                        class="monedas"></button>
                                <button v-on:click="sumaCliente(0.05)"><img
                                        src="../../styles/images/tpv/dinero/monedas/5cent.png" alt="5cent"
                                        class="monedas"></button>
                                <button v-on:click="sumaCliente(0.10)"><img
                                        src="../../styles/images/tpv/dinero/monedas/10cent.png" alt="10cent"
                                        class="monedas"></button>
                                <button v-on:click="sumaCliente(0.20)"><img
                                        src="../../styles/images/tpv/dinero/monedas/20cent.png" alt="20cent"
                                        class="monedas"></button>
                                <button v-on:click="sumaCliente(0.50)"><img
                                        src="../../styles/images/tpv/dinero/monedas/50cent.png" alt="50cent"
                                        class="monedas"></button>
                                <button v-on:click="sumaCliente(1)"><img
                                        src="../../styles/images/tpv/dinero/monedas/1euro.png" alt="1euro"
                                        class="monedas"></button>
                                <button v-on:click="sumaCliente(2)"><img
                                        src="../../styles/images/tpv/dinero/monedas/2euro.png" alt="2euro"
                                        class="monedas"></button></div>
                            <div class="dinerobilletes"> <button v-on:click="sumaCliente(5)"><img
                                        src="../../styles/images/tpv/dinero/billetes/5euro.png" alt="5euro"
                                        class="billetes"></button>
                                <button v-on:click="sumaCliente(10)"><img
                                        src="../../styles/images/tpv/dinero/billetes/10euro.png" alt="10euro"
                                        class="billetes"></button>
                                <button v-on:click="sumaCliente(20)"><img
                                        src="../../styles/images/tpv/dinero/billetes/20euro.png" alt="20euro"
                                        class="billetes"></button>
                                <button v-on:click="sumaCliente(50)"><img
                                        src="../../styles/images/tpv/dinero/billetes/50euro.png" alt="50euro"
                                        class="billetes"></button></div>
                        </div>
                        <div><button v-on:click="ingresoCliente = 0">Limpiar</button></div>

                        <h3>Cliente ingresa : {{ingresoCliente}} €</h3>
                        <h3>Total :{{precioTotal}}</h3>
                        <h3>Cambio : {{ ingresoCliente - precioTotal }} €</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-imprimir"
                            onclick="printJS({ printable: 'imprimirTicket', type: 'html' })">
                            Imprimir Ticket
                        </button>
                        <button type="button" class="btn btn-cobrar" v-on:click="cobrar()">Cobrar Pedido</button>

                    </div>
                </div>
            </div>
        </div>





        <!-- Modal Cancelar -->

        <div class="modal" id="modalCancelar" tabindex="-1" role="dialog" aria-labelledby="modalCancelarLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCancelarLabel">Cancelar Pedido</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de eliminar todo el pedido?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-eliminar" v-on:click="vaciarPedido()">Eliminar
                            Pedido</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="ticket" id="imprimirTicket">
            <h1 class="tituloTicket">Freedom TPV - IES Dos Mares</h1>
            <h3 class="puestoTicket"> Puesto : {{puestoElegido.nombre}}
            </h3>
            <h2>Pedido nº : {{pedidoActual}}</h2>

            <div v-for="producto in productosElegidos" :key="producto.id">
                
                <p class="productoIndividualTicket">
                    {{ producto.nombre }}  {{ producto.descripcion }} {{ producto.descripcion }} {{ producto.precio }} x{{ producto.cantidad }}
                </p>

            </div>
            <p class="totalPedidoTicket">Total Pedido : {{precioTotal}}</p>
            <br>
            <p class="atendidoTicket">Atendido por : {{usuarios.name}} </p>

        </div>



    </div><!-- Fin App Vue -->

<!-- Footer -->
<div class="row footer">

    <div class="col-4">FreedomTPV</div>
    <div class="col-4">TPV</div>
    <div class="col-4">Alejandro Sánchez Quesada</div>

</div>





    <!-- Vue y Axios -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../scripts/main.js"></script>
    <!-- Print JS Libreria -->
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css">
</body>

</html>