*{
    /* border: solid 1px black; */
}

.img_avatar{
    width: 50px;
    height: 50px;
}


.divTablas{
    display: none;
}

.mostrarOpcionesTablas{
    display: none;
}

.mostrarHome{
    display: block;
}

.cscroll {
    position: relative;
    height: 35vw;
    overflow: auto;
}

.logoImage{
    width: 50px;
    height: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }