.login_registro{
    border-radius: 10px;
    background-color: white;
    padding-bottom: 2%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }