@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url("../images/login/restaurante.jpg");
}

.login_registro {
    border-radius: 10px;
    padding-bottom: 2%;

    background-color: #e8ebe9;


}

div {
    display: inline-block;
    text-align: center;
}

.radiocorregir {
    text-align: left;
}

.btn-success {
    background-color: #005F9F !important;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 110%;
    background-color: #e8ebe9;
    color: black;
    text-align: center;
}

#loginErroneo {
    display: none;
}

#registrarErroneo {
    display: none;
}

#registroExito {
    display: none;
}

.letrasLogo {
    background-color: #005F9F;
    color: white;
    text-align: center;
    font-size: 2em;
}

.logoImg {
    width: 2em;
    height: 2em;
}

.logopers {
    color: #80FF00;
}

.btn-success:hover {
    border: solid 2px #EB5717 ;
}

.btn-crearCuenta {
    background-color: #EB5717 !important;
    color: white !important;
}

.btn-crearCuenta:hover {
    background-color: #EB5717 !important;
    color: white !important;
    border: solid 2px #005F9F ;
}

