@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #e8ebe9;
}
.container-fluid {
    height: 100vh;
    overflow: auto;
}
.columnaIzquierda{
    background-color: #e8ebe9;

}

.columnaDerecha{

    border-left: solid 2px #4C4A48;
}
.btn {
    border: solid 2px black;
}

.btn-success:hover {
    border: solid 2px #EBBE17 !important;
}
.btn-success:active {
    background-color: #EBBE17 !important;
  }
.botonCategorias{
    background-color: #005F9F !important;
    width: 20%;
    height: auto;
}

.botonPuestos{
    background-color: #005F9F !important;
    width: 20%;
    height: auto;
}

.botonproductos {
    width: 15em;
    height: 15em;
    background-color: #EB5717 !important;
    
}

.botonPanelControl{
    background-color: #005F9F !important;
}


.imgProducto{
    text-align: center;
    width: 10em;
    height: 10em;
}


img {
    width: 50px;
    height: 50px;
}

.img_avatar{
    width: 100%;
    height: auto;
}



.my-custom-scrollbar {
    position: relative;
    height: 25vw;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.billetes{
   
width: 200px;
height: 50px;
}

.monedas{
    
width: 50px;
height: 50px;
}

.ticket{
    display: none;
}

.btn img{
    display: inline-block;
    text-align: center;
}

.displayPrecio{
    background-color: #4285F4;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 110%;
    background-color: #e8ebe9;
    color: black;
    text-align: center;
}

.cajaCobrar{
    border-top: solid 2px #4C4A48;
    border-bottom: solid 2px #4C4A48;
    
}

.nombreUsuario{
    text-align: left;
}

.btn-cobrar{
background-color: #EB5717;
}
.btn-cancelar{
background-color: #EBBE17;
}
.btn-eliminar{
    background-color: #FE0000 !important;
    color: white !important;
    border: solid 2px black;
}

.btn-eliminar:hover{
    background-color: #FE0000 !important;
    color: white !important;
    border: solid 2px black;
}
.btn-eliminar:active{
    background-color: #EBBE17 !important;
    color: white !important;
    border: solid 2px black;
}

.btn-imprimir{
    background-color: #EBBE17 !important;
    color: black !important;
    border: solid 2px black;
}

.btn-imprimir:hover{
    background-color: #EBBE17 !important;
    color: black !important;
    border: solid 2px black;
}
.btn-imprimir:active{
    background-color: #FE0000 !important;
    color: black !important;
    border: solid 2px black;
}


.botonProductoPedido{
    background-color: white !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 2s linear infinite;
    display: block !important;
   
   
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  